body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    align-items: center;
}

.strip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    width: 100%;
    text-align: center;
}

.text-align-center {
    text-align: center;
}
