<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faseeh1080</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="strip-container">
        <h1 class="text-align-center">Welcome!</h1>
        <p class="text-align-center">I am Faseeh and this is my first dynamic web application. I made this using Python and Flask.</p>
        <h2 class="text-align-center">Here Is Today's Story</h2>
        <p>In Port Royal, Elizabeth Swann, the governor’s daughter, possesses a mysterious gold medallion. One night, the infamous Black Pearl attacks the town, and its cursed captain, Hector Barbossa, kidnaps Elizabeth, believing her blood can break an ancient Aztec curse.</p>

        <p>Will Turner, a skilled blacksmith secretly in love with Elizabeth, joins forces with the eccentric pirate Captain Jack Sparrow, who has his own score to settle with Barbossa. They steal a ship and set sail, encountering treacherous waters, dangerous foes, and the Royal Navy in pursuit.</p>
            
        <p>Upon reaching Isla de Muerta, the truth is revealed—Elizabeth’s blood is useless, as she is not the descendant of a pirate. Instead, it is Will, whose father was a pirate, who must break the curse. Amid epic sword fights and clever tricks, Will spills his own blood onto the treasure, turning Barbossa and his crew mortal. Jack seizes the moment, shooting Barbossa, finally ending his reign of terror.</p>
            
        <p>With the battle won, Jack is captured by the Royal Navy but makes a daring escape, reclaiming the Black Pearl and setting sail for new adventures. Will and Elizabeth finally confess their love, knowing their lives have been forever changed by the world of pirates.</p>
            
        <p><i>The End.<br>Thanks for reading.</i></p>
        <a href="{{ url_for('logout') }}">
            <button>Logout</button>
        </a>
    </div>
</body>
</html>